@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBF6E9;
  --foreground: #171717;
  --color-text-red: #FF113A;
  --color-text-green: #4F754C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto Mono, Arial, Helvetica, sans-serif;
}

.active {
  background-color: var(--color-text-red);
  color: black;
  padding: 5px;
  border-radius: 5px;
}
