@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBF6E9;
  --foreground: #171717;
  --color-text-red: #FF113A;
  --color-text-green: #4F754C;
  --green-hover: #73a66f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto Mono, Arial, Helvetica, sans-serif;
}
.scroll-mt-custom {
  scroll-margin-top: 5rem; 
}
html {
  scroll-behavior: smooth;
}

main {
  padding-top: 80px; 
}


.active {
  background-color: var(--color-text-red);
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.backface-hidden {
  backface-visibility: hidden;
  will-change: transform;
  transform: translateZ(0);
}
